<%= render(HeaderComponent.new(
  title: "Rooms"
)) do |c| %>
  <%= c.with_crumb("Home", home_path) %>
  <%= c.with_crumb("Todo", todo_path) %>
  <%= c.with_action do %>
    <%= link_to(
      "New Room",
      new_todo_room_path,
      class: "button"
    ) %>
  <% end %>
<% end %>

<div class="flex gap-4">
  <% @rooms.each do |room| %>
    <%= link_to(
      todo_room_path(room),
      class: "border-2 border-fuchsia-500 rounded-md p-4 min-w-32 max-w-32 text-center",
      data: {role: "room"}
    ) do %>
      <%= tag.div(room.name) %>
    <% end %>
  <% end %>

  <span class="hidden only:block">
    No rooms
  </span>
</div>
