<%= render(HeaderComponent.new(
  title: @room.name
)) do |c| %>
  <%= c.with_crumb("Todo", todo_path) %>
  <%= c.with_crumb("Rooms", todo_rooms_path) %>

  <%= c.with_action do %>
    <%= link_to(
      "Edit room",
      edit_todo_room_path(@room),
      class: "button"
    ) %>
  <% end %>

  <%= c.with_action do %>
    <%= button_to(
      "Delete",
      todo_room_path(@room),
      method: "delete",
      data: {turbo_confirm: "Are you sure?"},
      class: "button button--danger"
    ) %>
  <% end %>
<% end %>

<h2 class="text-lg mb-3">Tasks</h2>
<div class="flex gap-4">
  <% @room.tasks.each do |task| %>
    <%= button_to(
      todo_task_occurrence_path(task, room_id: @room.id),
      class: "border-2 border-fuchsia-500 rounded-md p-4 min-w-32 max-w-32 text-center",
      data: {role: "room", turbo_confirm: "Schedule this task?"}
    ) do %>
      <%= tag.div(task.name) %>
    <% end %>
  <% end %>
  <span class="hidden only:block">
    This room doesn't have any tasks yet.
    <br />
    <%= link_to(
      "Add one",
      new_todo_task_path(todo_task: {room_ids: [@room.id]})
    ) %>
  </span>
</div>
