<%= render(HeaderComponent.new(
  title: @tag.name
)) do |c| %>
  <%= c.with_crumb("Home", home_path) %>
  <%= c.with_crumb("Galleries", galleries_path) %>
  <%= c.with_crumb(@gallery.name, gallery_path(@gallery)) %>
  <%= c.with_crumb("Tags", gallery_tags_path(@gallery)) %>

  <%= c.with_action do %>
    <%= link_to(
      "Edit",
      edit_gallery_tag_path(@gallery, @tag),
      class: "button"
    ) %>
  <% end %>

  <%= c.with_action do %>
    <%= button_to(
      "Delete",
      gallery_tag_path(@gallery, @tag),
      method: "delete",
      data: {turbo_confirm: "Are you sure?"},
      class: "button button--danger"
    ) %>
  <% end %>
<% end %>

<% if @images.none? %>
  <div>This tag has no images.</div>
<% end %>

<%= render(
  partial: "galleries/images",
  locals: {images: @images}
) %>
