<%= render(HeaderComponent.new(
  title: "Video downloads"
)) do |c| %>
  <%= c.with_crumb("Home", home_path) %>
  <%= c.with_crumb("Galleries", galleries_path) %>
  <%= c.with_crumb(@gallery.name, gallery_path(@gallery)) %>

  <%= c.with_action do %>
    <%= link_to(
      "Add video from URL",
      new_gallery_remote_video_download_path(@gallery),
      class: "button"
    ) %>
  <% end %>
<% end %>

<% if @remote_video_downloads.load.any? %>
  <div class="divide-y">
    <% @remote_video_downloads.each do |download| %>
      <%= render(
        Galleries::RemoteVideoDownloadRowComponent.new(
          remote_video_download: download
        )
      ) %>
    <% end %>
  </div>
<% else %>
  <p class="text-gray-500">No video downloads yet.</p>
<% end %>
