<%= render(HeaderComponent.new(
  title: "Image"
)) do |c| %>
  <%= c.with_crumb("Home", home_path) %> <%= c.with_crumb("Galleries", galleries_path) %>
  <%= c.with_crumb(@gallery.name, gallery_path(@gallery)) %>

  <%= c.with_action do %>
    <%= link_to(
      "Edit",
      edit_gallery_image_path(@gallery, @image),
      class: "button"
    ) %>
  <% end %>

  <%= c.with_action do %>
    <%= button_to(
      "Delete",
      gallery_image_path(@gallery, @image),
      method: "delete",
      data: {turbo_confirm: "Are you sure?"},
      class: "button button--danger"
    ) %>
  <% end %>
<% end %>

<div class="flex gap-4">
  <%= render(Galleries::ImageComponent.new(image: @image)) %>
</div>

<h2 class="text-xl mt-10 mb-5">Tags</h2>

<div class="flex flex-col">
  <%= render(Galleries::ImageTagsComponent.new(image: @image)) %>
  <%= render(Galleries::ImageTagSearchComponent.new(tag_search: @tag_search)) %>
</div>

<div class="mt-5">
  <%= turbo_frame_tag("similar-images") do %>
    <%= render(Galleries::SimilarImagesComponent.new(
      image: @image,
      scope: @image.similar_images,
      page: params.fetch(:similar_images_page, 1),
      title: "Similar images (by tag)"
    )) %>
  <% end %>
</div>

<% if @image.perceptual_hash.present? %>
  <div class="mt-5">
    <%= turbo_frame_tag("similar-images") do %>
      <%= render(Galleries::SimilarImagesComponent.new(
        image: @image,
        scope: @image.similar_by_phash,
        page: params.fetch(:similar_images_page, 1),
        title: "Similar images (by calculation)"
      )) %>
    <% end %>
  </div>
<% else %>
  <div>
    This image doesn't have a perceptual_hash, so similar images cannot be
    found via that method
  </div>
<% end %>

<div class="pb-32"></div>
