<%= render(HeaderComponent.new(
  title: "Image"
)) do |c| %>
  <%= c.with_crumb("Home", home_path) %> <%= c.with_crumb("Galleries", galleries_path) %>
  <%= c.with_crumb(@gallery.name, gallery_path(@gallery)) %>

  <%= c.with_action do %>
    <%= link_to(
      "Edit",
      edit_gallery_image_path(@gallery, @image),
      class: "button"
    ) %>
  <% end %>

  <%= c.with_action do %>
    <%= button_to(
      "Delete",
      gallery_image_path(@gallery, @image),
      method: "delete",
      data: {turbo_confirm: "Are you sure?"},
      class: "button button--danger"
    ) %>
  <% end %>
<% end %>

<div class="flex gap-4">
  <%= link_to(@image.file) do %>
    <%= image_tag(@image.file) %>
  <% end %>
</div>

<h2 class="text-xl mt-10 mb-5">Tags</h2>

<div class="flex flex-col">
  <%= render(
    partial: "galleries/images/tags",
    locals: {tags: @image.tags.order(:name)}
  ) %>
  <%= render(
    partial: "galleries/images/tag_searches/tag_search",
    locals: {
      tag_search: @tag_search
    }
  ) %>
</div>

<div class="mt-5">
  <%= turbo_frame_tag("similar-images") do %>
    <%= render(Galleries::SimilarImagesComponent.new(
      image: @image,
      page: params.fetch(:similar_images_page, 1)
    )) %>
  <% end %>
</div>

<div class="pb-32"></div>
