<%= render(HeaderComponent.new(
  title: "Tokens"
)) do |c| %>
  <%= c.with_crumb("Home", home_path) %>
  <%= c.with_action do %>
    <%= link_to(
      "New Token",
      new_settings_api_token_path,
      class: "button"
    ) %>
  <% end %>
<% end %>

<div class="flex gap-4">
  <% @tokens.each do |token| %>
    <%= link_to(
      settings_api_token_path(token),
      data: {role: "token"}
    ) do %>
      <%= tag.div(token.name) %>
    <% end %>
  <% end %>

  <span class="hidden only:block">
    No tokens
  </span>
</div>
