<%= render(HeaderComponent.new(
  title: "Add Ingredient to #{@recipe.name}"
)) do |c| %>
  <%= c.with_crumb("Home", home_path) %>
  <%= c.with_crumb("Recipes", recipes_path) %>
  <%= c.with_crumb(@recipe.name, recipe_path(@recipe)) %>
  <%= c.with_crumb("Ingredients", recipe_ingredients_path(@recipe)) %>
<% end %>

<div class="max-w-2xl">
  <%= render "form" %>
</div>
