<%= render(HeaderComponent.new(
  title: @book.name
)) do |c| %>
  <%= c.with_crumb("Home", home_path) %>
  <%= c.with_crumb("Galleries", galleries_path) %>
  <%= c.with_crumb(
    @gallery.name,
    gallery_path(@gallery)
  ) %>
  <%= c.with_crumb("Books", gallery_books_path(@gallery)) %>
  <%= c.with_crumb(
    @book.name,
    gallery_book_path(@gallery, @book)
  ) %>

  <%= c.with_action do %>
    <%= link_to(
      "Back",
      gallery_book_path(@gallery, @book),
      class: "button button--secondary"
    ) %>
  <% end %>
<% end %>

<div class="flex flex-col gap-8 pb-20">
  <% if @images.any? %>
    <% @images.each do |image| %>
      <div
        class="flex justify-center"
        data-image-id="<%= image.id %>"
      >
        <% if image.video? %>
          <%= video_tag(image.file, controls: true) %>
        <% elsif image.file.variable? %>
          <%= image_tag(image.file) %>
        <% else %>
          <%= image_tag(image.file) %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="text-center py-12 text-gray-500">
      <div class="text-lg font-medium mb-2">
        No images yet
      </div>
      <div class="text-sm">
        Images will appear here once they're added to
        this book.
      </div>
    </div>
  <% end %>
</div>
