<%= render(HeaderComponent.new(title: "Plants")) do |c| %>
  <%= c.with_crumb("Home", home_path) %>
  <%= c.with_action do %>
    <%= link_to("New Plant", new_plant_path, class: "button") %>
  <% end %>
<% end %>

<div class="flex gap-4 flex-wrap">
  <% @plants.each do |plant| %>
    <div
      data-role="plant"
      class="border-2 border-green-500 rounded-md p-4 min-w-32">
      <div class="font-medium"><%= plant.name %></div>
      <% if plant.purchased_from.present? %>
        <div class="text-sm text-gray-500">
          From: <%= plant.purchased_from %>
        </div>
      <% end %>
      <% if plant.purchased_at.present? %>
        <div class="text-sm text-gray-500">
          <%= plant.purchased_at.to_date %>
        </div>
      <% end %>
    </div>
  <% end %>

  <span class="hidden only:block text-gray-500">No plants yet</span>
</div>
