<%= render(HeaderComponent.new(title: "Image")) do |c| %>
  <%= c.with_crumb("Home", home_path) %>
  <%= c.with_crumb("Plants", plants_path) %>
  <%= c.with_crumb(@plant.name, plant_path(@plant)) %>
  <%= c.with_action do %>
    <% if @plant.key_image_id == @plant_image.id %>
      <div class="text-sm text-gray-600">Key image</div>
    <% else %>
      <%= button_to(
        "Make key image",
        plant_key_image_path(@plant),
        method: :patch,
        params: {key_image_id: @plant_image.id},
        class: "button"
      ) %>
    <% end %>
  <% end %>
  <%= c.with_action do %>
    <%= link_to(
      "Edit",
      edit_plant_plant_image_path(@plant, @plant_image),
      class: "button"
    ) %>
  <% end %>
  <%= c.with_action do %>
    <%= button_to(
      "Delete",
      plant_plant_image_path(@plant, @plant_image),
      method: :delete,
      data: {turbo_confirm: "Are you sure?"},
      class: "button button--danger"
    ) %>
  <% end %>
<% end %>

<div class="max-w-4xl">
  <div class="flex justify-center mb-4">
    <%= image_tag(@plant_image.file) %>
  </div>

  <% if @plant_image.taken_at.present? %>
    <div class="text-gray-600 text-sm">
      Taken at: <%= @plant_image.taken_at.to_date %>
    </div>
  <% end %>
</div>
