<%= render(HeaderComponent.new(
  title: @task.name
)) do |c| %>
  <%= c.with_crumb("Todo", todo_path) %>
  <%= c.with_crumb("Tasks", todo_tasks_path) %>

  <%= c.with_action do %>
    <%= link_to(
      "Edit task",
      edit_todo_task_path(@task),
      class: "button"
    ) %>
  <% end %>

  <%= c.with_action do %>
    <%= button_to(
      "Delete",
      todo_task_path(@task),
      method: "delete",
      data: {turbo_confirm: "Are you sure?"},
      class: "button button--danger"
    ) %>
  <% end %>
<% end %>

<h2 class="text-lg mb-3">Rooms</h2>
<div class="flex gap-4">
  <% @task.rooms.each do |room| %>
    <%= link_to(
      todo_room_path(room),
      class: "border-2 border-fuchsia-500 rounded-md p-4 min-w-32 max-w-32 text-center",
      data: {role: "room"}
    ) do %>
      <%= tag.div(room.name) %>
    <% end %>
  <% end %>
  <span class="hidden only:block">
    This task is not used in any rooms.
  </span>
</div>
