<%= render(HeaderComponent.new(title: "Image")) do |c| %>
  <%= c.with_crumb("Home", home_path) %>
  <%= c.with_crumb("Plants", plants_path) %>
  <%= c.with_crumb("Inbox", inbox_images_path) %>
  <%= c.with_action do %>
    <%= button_to(
      "Delete",
      inbox_image_path(@inbox_image),
      method: :delete,
      data: {turbo_confirm: "Are you sure?"},
      class: "button button--danger"
    ) %>
  <% end %>
<% end %>

<div class="w-full">
  <div class="text-lg mb-3">
    Taken <%= @inbox_image.taken_at.to_date %>
  </div>

  <div class="flex justify-center mb-4">
    <%= link_to(@inbox_image.file) do %>
      <%= image_tag(@inbox_image.file, class: "max-w-full h-auto") %>
    <% end %>
  </div>
</div>

<div class="mt-8">
  <h2 class="text-lg font-medium mb-3">Assign to Plant</h2>
  <% if @plants.any? %>
    <div class="flex gap-4 flex-wrap justify-center sm:justify-start">
      <% @plants.each do |plant| %>
        <%= render(Plants::PlantCardComponent.new(plant:)) do |card| %>
          <% card.with_action do %>
          <%= button_to(
            "Assign",
            inbox_image_assignments_path(@inbox_image),
            method: :post,
            params: {plant_id: plant.id},
            class: "button"
          ) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="text-gray-500">No plants yet.</div>
  <% end %>
</div>
