<% content_for :title, "#{@gallery.name} Gallery" %>

<% if @select_mode %>
<div data-controller="gallery-bulk-tag">
<% else %>
<div>
<% end %>
  <%= render(HeaderComponent.new(
    title: @gallery.name
  )) do |c| %>
    <%= c.with_crumb("Home", home_path) %>
    <%= c.with_crumb("Galleries", galleries_path) %>

    <% unless @select_mode %>
      <%= c.with_action do %>
        <%= link_to(
          "Add images",
          new_gallery_bulk_upload_path(@gallery),
          class: "button"
        ) %>
      <% end %>

      <%= c.with_action do %>
        <%= link_to(
          "Tags",
          gallery_tags_path(@gallery),
          class: "button"
        ) %>
      <% end %>

      <%= c.with_action do %>
        <%= link_to(
          "Books",
          gallery_books_path(@gallery),
          class: "button"
        ) %>
      <% end %>

      <%= c.with_action do %>
        <%= link_to(
          "Edit",
          edit_gallery_path(@gallery),
          class: "button"
        ) %>
      <% end %>

      <%= c.with_action do %>
        <button
          type="button"
          class="button"
          disabled
          data-controller="select-mode"
          data-action="click->select-mode#enter"
        >
          Select
        </button>
      <% end %>

      <%= c.with_action do %>
        <%= button_to(
          "Delete",
          gallery_path(@gallery),
          method: "delete",
          data: {turbo_confirm: "Are you sure?"},
          class: "button button--danger"
        ) %>
      <% end %>
    <% end %>

    <% if @select_mode %>
      <%= c.with_action do %>
        <button
          type="button"
          class="button"
          data-action="gallery-bulk-tag#open"
        >
          Add tag
        </button>
      <% end %>

      <%= c.with_action do %>
        <%= button_to(
          "Delete",
          gallery_bulk_delete_path(@gallery),
          method: :post,
          params: {
            bulk_delete: {
              image_ids: @selected_ids
            }
          },
          data: {
            turbo_confirm:
              "Delete the selected images? " \
              "This cannot be undone."
          },
          class: "button button--danger"
        ) %>
      <% end %>

      <%= c.with_action do %>
        <%= link_to(
          "Cancel",
          gallery_path(
            @gallery,
            tag_ids: params[:tag_ids],
            page: params[:page]
          ),
          class: "button"
        ) %>
      <% end %>
    <% end %>
  <% end %>

  <div class="mb-6">
    <%= render(PillComponent.new(
      text: "#{@gallery.images.size} images",
      color: :blue
    )) %>
  </div>

  <div
    class="grid gap-5 grid-cols-1 lg:grid-cols-4"
    data-controller="gallery-select"
    data-gallery-select-mode-value="<%= !!@select_mode %>"
    data-action="turbo:frame-render->gallery-select#handleFrameRender"
  >
    <%= turbo_frame_tag("gallery-filters") do %>
      <%= render(
        partial: "filters",
        locals: {
          tags: @filter_tags
        }
      ) %>
    <% end %>

    <div class="lg:col-span-3">
      <%= turbo_frame_tag("gallery-images") do %>
        <%= render(
          partial: "images",
          locals: {
            images: @images,
            select_mode: @select_mode,
            selected_ids: @selected_ids
          }
        ) %>
      <% end %>
    </div>
  </div>

  <% if @select_mode %>
    <dialog
      data-gallery-bulk-tag-target="dialog"
      class="rounded-sm p-6 w-full max-w-lg shadow-xl backdrop:bg-black/50 fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
    >
      <h2 class="text-xl mb-4">Add tag to selected images</h2>

      <%= form_with(
        url: gallery_tag_search_path(@gallery),
        method: :get,
        data: {
          turbo_frame: "bulk-tag-search-results",
          controller: "auto-submit-form"
        }
      ) do |f| %>
        <input name="tag_search[mode]" value="bulk_add_tag" type="hidden" />
        <input name="tag_search[turbo_frame_tag]" value="bulk-tag-search-results" type="hidden" />
        <div class="flex w-full gap-3 mb-4">
          <%= f.text_field(
            "tag_search[query]",
            placeholder: "Search tags...",
            autocorrect: "off",
            autocomplete: "off",
            aria: {label: "Tag search query"},
            data: {action: "input->auto-submit-form#submit"}
          ) %>
        </div>
      <% end %>

      <%= turbo_frame_tag("bulk-tag-search-results") do %>
        <p class="text-gray-500 text-sm">Type to search for tags</p>
      <% end %>

      <%= form_with(
        scope: :bulk_tag,
        url: gallery_bulk_tag_path(@gallery),
        method: :post
      ) do |f| %>
        <div data-gallery-bulk-tag-target="selectedIdsContainer"></div>
        <% if params[:page].present? %>
          <%= hidden_field_tag(:page, params[:page]) %>
        <% end %>
        <%= f.hidden_field(
          :tag_id,
          data: {gallery_bulk_tag_target: "tagIdInput"}
        ) %>

        <div class="mt-4">
          <p class="text-sm text-gray-600">
            Selected tag:
            <span
              data-gallery-bulk-tag-target="selectedTagName"
              class="font-medium"
            >None selected</span>
          </p>
        </div>

        <div class="mt-6 flex gap-3 justify-end">
          <button
            type="button"
            class="button"
            data-action="gallery-bulk-tag#close"
          >
            Cancel
          </button>
          <%= f.submit(
            "Add tag",
            disabled: true,
            class: "button",
            data: {gallery_bulk_tag_target: "confirmButton"}
          ) %>
        </div>
      <% end %>
    </dialog>
  <% end %>
</div>
