<%= render(HeaderComponent.new(
  title: @gallery.name
)) do |c| %>
  <%= c.with_crumb("Home", home_path) %>
  <%= c.with_crumb("Galleries", galleries_path) %>

  <%= c.with_action do %>
    <%= link_to(
      "Add images",
      new_gallery_bulk_upload_path(@gallery),
      class: "button"
    ) %>
  <% end %>

  <%= c.with_action do %>
    <%= link_to(
      "Tags",
      gallery_tags_path(@gallery),
      class: "button"
    ) %>
  <% end %>

  <%= c.with_action do %>
    <%= link_to(
      "Edit",
      edit_gallery_path(@gallery),
      class: "button"
    ) %>
  <% end %>

  <%= c.with_action do %>
    <%= button_to(
      "Delete",
      gallery_path(@gallery),
      method: "delete",
      data: {turbo_confirm: "Are you sure?"},
      class: "button button--danger"
    ) %>
  <% end %>
<% end %>

<div class="grid gap-5 grid-cols-1 lg:grid-cols-4">
  <%= turbo_frame_tag("gallery-filters") do %>
    <%= render(
      partial: "filters",
      locals: {
        tags: @filter_tags
      }
    ) %>
  <% end %>

  <div class="lg:col-span-3">
    <%= turbo_frame_tag("gallery-images") do %>
      <%= render(
        partial: "images",
        locals: {images: @images}
      ) %>
    <% end %>
  </div>
</div>
