<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= tag.meta(name: "rails_env", content: Rails.env) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>

  <body>
    <main class="container mx-auto my-10 lg:mt-28 px-5 flex flex-col">
      <%= render("layouts/flash") %>
      <%= yield %>
    </main>
  </body>
</html>
